/*
 * UI Custom
 * @Munsif
 */
.ui-datepicker-inline {
	background: none;
}
.ui-datepicker-header {
	background: #e1e8ef;
	color: #2c69ad;
}
.ui-datepicker-header .ui-datepicker-prev, .ui-datepicker-header .ui-datepicker-next {
	font-size: 0px;
	padding: 8px;
	margin-top: 8px;
	background: url('../images/calArrows_03.png') no-repeat;
	background-size: cover;
	cursor: pointer;
}
.ui-datepicker-header .ui-datepicker-next {
	background-position: -13px 0;
}
.ui-datepicker-header .ui-datepicker-prev {
	background-position: 5px 0;
}
.ui-datepicker-inline .ui-datepicker-calendar {
	border: 1px solid #FFFFff
}
.ui-datepicker-inline .ui-datepicker-calendar th {
	color: #2C69AD;
}
.ui-datepicker-inline .ui-datepicker-calendar td {
	background: #e1e8ef;
	border: 1px solid #FFFFff
}
.ui-datepicker-inline .ui-datepicker-calendar td a:hover {
	background: #e1e8ef;
	color: #2C69AD;
}

.ui-datepicker-inline .ui-datepicker-calendar td .ui-state-default {
	color: #717171;
	background: white;
}
.ui-datepicker-inline .ui-datepicker-calendar td .ui-state-highlight {
	color: #717171;
	background: #dedede;
}
.ui-datepicker-inline .ui-datepicker-calendar td .ui-state-active {
	color: #ffffff;
	background: #2C69AD;
}

/*
 * Resizable CSS
 */


.ui-resizable { position: relative;}
.ui-resizable-handle { position: absolute;font-size: 0.1px;z-index: 99999; }
.ui-resizable-autohide .ui-resizable-handle { display: block; }
.ui-resizable-disabled .ui-resizable-handle {display: none; }
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    z-index: 999;
    display: block;
    background: #5292cb;
    border: 2px solid #ffffff;
    box-shadow:0px 0px 2px rgba(0,0,0,0.3);
    width: 10px;
    height: 10px;
    border-radius:10px;
}
.ui-resizable-disabled .ui-resizable-handle, .ui-resizable-autohide .ui-resizable-handle { display:none}
.ui-resizable-se { cursor: se-resize; right: -14px; bottom: -14px}
.ui-resizable-sw { cursor: sw-resize; left: -14px; bottom: -14px}
.ui-resizable-nw { cursor: nw-resize; left: -14px; top: -14px}
.ui-resizable-ne { cursor: ne-resize; right: -14px; top: -14px}
.ui-resizable-n { cursor: n-resize; left: 50%; top: -14px; margin-left: -7px; opacity: 1.0; }
.ui-resizable-s { cursor: s-resize; left: 50%; bottom: -14px; margin-left: -7px; opacity: 1.0}
.ui-resizable-w { cursor: w-resize; left: -14px; top: 50%; margin-top: -7px; opacity: 1.0}
.ui-resizable-e { cursor: e-resize; right: -14px; top: 50%; margin-top: -7px; opacity: 1.0}
.ui-resizable-pn {background: none;  border:0px ;width: 7px; height: 7px;box-shadow:0px 0px 0px rgba(255,255,255,0.0); }
.ui-resizable-ps {background: none;  border:0px ;width: 7px; height: 7px;box-shadow:0px 0px 0px rgba(255,255,255,0.0); }
/* Arrows for ressizing the element in push mode */
.ui-push-handle { position: absolute; font-size: 0.1px; z-index: 999; display: block; height: 7px; width: 18px; left: 50%; margin-left: -9px; cursor: n-resize}
.ui-push-n {top: -22px;}
.ui-push-s { bottom: -22px;}

.ui-draggable-n { height: 2px; width: 100%; top: -7px; left: 0; background:#5292cb; }
.ui-draggable-s { height: 2px; width: 100%; bottom: -7px; left: 0; background:#5292cb }
.ui-draggable-e { width: 2px; right: -7px; top: 0; height: 100%; background:#5292cb}
.ui-draggable-w { width: 2px; left: -7px; top: -0px; height: 100%; background:#5292cb}

.drag-corner {
    position: absolute;
    cursor: move;
    font-size: 0.1px;
    z-index: 999;
}

.ui-slider {
    height:3px;
    background: #717171;
}
.ui-slider .ui-slider-handle {  position: absolute;
    font-size: 0.1px;
    z-index: 999;
    display: block;
    background: #5292cb;
    border: 2px solid #ffffff;
    box-shadow:0px 0px 2px rgba(0,0,0,0.3);
    width: 10px;
    height: 10px;
    margin-top: -5px;
    border-radius:10px;
}
.ui-slider .ui-slider-range { position: absolute; z-index: 1; font-size: .7em; display: block; border: 0; background-position: 0 0; }
