/*
   @Author Munsif.
   App CSS
*/

*{
    font-family:Verdana;
}

html{
    margin:0px;
    padding:0px;
}

body{
    margin:0px;
    padding:0px;
}

.clear{
    clear:both;
}

.bor{
    border:1px solid;
}
/**********************************************************/

#mainWrapper{
    width:100%;
}

.header{
    padding:3px 5px;
    font-weight:bold;
    background: #708090;
    color:#f3f3f3;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.header .title{
    float:left;
    margin-left:50px;
    font-size:30px;
    text-shadow: 1px 0px 2px rgba(0,0,0,0.6);
}

.appArea{
    width:100%;
    /*margin-top:10px;*/
}

.appArea .layers{
    width:18%;
    height:600px;
    float:left;

    box-shadow: 2px 0px 3px rgba(0,0,0,0.5);
}
.appArea .layers .elements{
    width:50px;
    float:left;
    margin-top:50px;
}
.appArea .layers .elements .square{
    width:30px;
    height:30px;
    margin:0 auto;
    border:1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.appArea .layers .elements .addOpacity{
    width:30px;
    height:30px;
    margin:0 auto;
    border:1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.appArea .layers .elements .addColor{
    width:30px;
    height:30px;
    margin:0 auto;
    border:1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}
.appArea .layers .elements .addRound{
    width:30px;
    height:30px;
    margin:0 auto;
    border:1px solid rgba(0,0,0,0.2);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

/*Cloned Elements*/
.squareClone{
    border:1px solid;
    background: black;
    color:white;
}

.appArea .buildArea{
    width:70%;
    height:600px;
    float:left;
    /*margin-left:10px;*/

    box-shadow: 2px 0px 3px rgba(0,0,0,0.5);
}
.appArea .buildArea ul{
    display: none;
}
.appArea .buildArea .screenArea{
    width:900px;
    height:500px;
    margin:0 auto;
    margin-top:50px ;
    border:1px dashed gray;
    overflow: hidden;
}
.appArea .controlArea{
    width:11%;
    height:600px;
    float:left;
}
.appArea .controlArea .controls{
    margin-top:50px;
}
.appArea .controlArea .controls div{
    width:50px;
    height:50px;
    margin:0 auto;
    background: gray;
    margin-bottom:10px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
    cursor:pointer;
}
.appArea .controlArea .controls .record{
    border-radius: 50px;
    background: #ff4500;
}
.appArea .controlArea .controls .stop{
    background: gray;
}
.appArea .controlArea .controls .play{
    background: #228b22;
}
.appArea .controlArea .controls .playAll{
    background: #ff7f50;
}

